In [56]:
import pandas as pd
import numpy as np
import math

In [19]:
df=pd.read_csv(r'Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [4]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [20]:
df['Species'].astype('category')
df['Species']=pd.Categorical(df['Species']).codes

In [44]:
index=df['Species']!=2
data=df.iloc[np.where(index==True)[0],:]

In [47]:
#data.drop(labels='Id',axis=1,inplace=True)
label=data['Species']
c=data.columns.values.tolist()
c.remove('Species')
feature=data[c]

In [48]:
feature.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [120]:
def sigmoid(z):
    return 1/(1+math.exp(-z))

In [79]:
x=feature.values
y=label.values

In [83]:
x.shape

(100, 4)

In [90]:
y[0]

0

In [159]:
#fiting normally distributed weights,bias at initial
weight=np.random.normal(0,0.1,4).reshape(1,4)
bias=np.random.normal(0,0.1,1)

In [160]:
def fit(x,y):
    while(1):
        count=0
        incorrect=0
        for i in x:
            z=np.matmul(weight,i.reshape(4,1))
            z=np.add(z,bias)
            f=sigmoid(z)
            if(f<0.5):
                p=0
            else:
                p=1
            if(p!=y[count]):
                #weight updation using gradient descent optimizer
                weight=weight+(0.5*(y[count]-f))*i
                bias=bias+(0.5*(y[count]-f))
                incorrect+=1
            count=count+1
        if(incorrect==0):
            break
        print(incorrect)

2
2
3
1

In [155]:
weight

array([[-0.65292722, -1.58140492,  2.31086266,  1.0332475 ]])

In [127]:
incorrect

0

In [161]:
weight

array([[-0.4469391 , -2.49022174,  3.9138942 ,  1.54260277]])

In [128]:
x.shape

(100, 4)

In [162]:
sigmoid(np.add(np.matmul(weight,x[0].reshape(4,1)),bias))<0.5

True